{
  "sourceCompatibility": 17,
  "targetCompatibility": 17,
  "classes": {
    "android.content.Context": "AndroidContext",
    "android.net.nsd.NsdManager": "NsdManager",
    "android.net.nsd.NsdServiceInfo": "NsdServiceInfo",
    "java.net.InetAddress": "JavaInetAddress",
    "java.util.concurrent.Executor": "JavaExecutor",
    "com.padl.SwiftOCA.AndroidNsdServiceInfoHelper": "AndroidNsdServiceInfoHelper",
    "com.padl.SwiftOCA.SwiftHeapObjectHolder": "SwiftHeapObjectHolder",
    "com.padl.SwiftOCA.AndroidNsdDiscoveryListener": "AndroidNsdDiscoveryListener",
    "com.padl.SwiftOCA.AndroidNsdServiceInfoCallback": "AndroidNsdServiceInfoCallback"
  }
}
